EwECustomPlugins/EwEWoRMSPlugin/Service References/WoRMSWebService/aphia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aphia/v1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://aphia/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://aphia/v1.0">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="AphiaRecord">
        <xsd:all>
          <xsd:element name="AphiaID" type="xsd:int" />
          <xsd:element name="url" type="xsd:string" />
          <xsd:element name="scientificname" type="xsd:string" />
          <xsd:element name="authority" type="xsd:string" />
          <xsd:element name="rank" type="xsd:string" />
          <xsd:element name="status" type="xsd:string" />
          <xsd:element name="valid_AphiaID" type="xsd:int" />
          <xsd:element name="valid_name" type="xsd:string" />
          <xsd:element name="valid_authority" type="xsd:string" />
          <xsd:element name="kingdom" type="xsd:string" />
          <xsd:element name="phylum" type="xsd:string" />
          <xsd:element name="class" type="xsd:string" />
          <xsd:element name="order" type="xsd:string" />
          <xsd:element name="family" type="xsd:string" />
          <xsd:element name="genus" type="xsd:string" />
          <xsd:element name="citation" type="xsd:string" />
          <xsd:element name="lsid" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AphiaRecords">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:AphiaRecord[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AphiaMatches">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:AphiaRecords[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="scientificnames">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Source">
        <xsd:all>
          <xsd:element name="source_id" type="xsd:int" />
          <xsd:element name="use" type="xsd:string" />
          <xsd:element name="reference" type="xsd:string" />
          <xsd:element name="page" type="xsd:string" />
          <xsd:element name="url" type="xsd:string" />
          <xsd:element name="link" type="xsd:string" />
          <xsd:element name="fulltext" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Sources">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Source[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Classification">
        <xsd:all>
          <xsd:element name="AphiaID" type="xsd:int" />
          <xsd:element name="rank" type="xsd:string" />
          <xsd:element name="scientificname" type="xsd:string" />
          <xsd:element name="child" type="tns:Classification" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Vernacular">
        <xsd:all>
          <xsd:element name="vernacular" type="xsd:string" />
          <xsd:element name="language_code" type="xsd:string" />
          <xsd:element name="language" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Vernaculars">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Vernacular[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAphiaIDRequest">
    <wsdl:part name="scientificname" type="xsd:string" />
    <wsdl:part name="marine_only" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getAphiaIDResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordsRequest">
    <wsdl:part name="scientificname" type="xsd:string" />
    <wsdl:part name="like" type="xsd:boolean" />
    <wsdl:part name="fuzzy" type="xsd:boolean" />
    <wsdl:part name="marine_only" type="xsd:boolean" />
    <wsdl:part name="offset" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordsResponse">
    <wsdl:part name="return" type="tns:AphiaRecords" />
  </wsdl:message>
  <wsdl:message name="getAphiaNameByIDRequest">
    <wsdl:part name="AphiaID" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaNameByIDResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordByIDRequest">
    <wsdl:part name="AphiaID" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordByIDResponse">
    <wsdl:part name="return" type="tns:AphiaRecord" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordByTSNRequest">
    <wsdl:part name="TSN" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordByTSNResponse">
    <wsdl:part name="return" type="tns:AphiaRecord" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordsByNamesRequest">
    <wsdl:part name="scientificnames" type="tns:scientificnames" />
    <wsdl:part name="like" type="xsd:boolean" />
    <wsdl:part name="fuzzy" type="xsd:boolean" />
    <wsdl:part name="marine_only" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordsByNamesResponse">
    <wsdl:part name="return" type="tns:AphiaMatches" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordsByVernacularRequest">
    <wsdl:part name="vernacular" type="xsd:string" />
    <wsdl:part name="like" type="xsd:boolean" />
    <wsdl:part name="offset" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaRecordsByVernacularResponse">
    <wsdl:part name="return" type="tns:AphiaRecords" />
  </wsdl:message>
  <wsdl:message name="getAphiaClassificationByIDRequest">
    <wsdl:part name="AphiaID" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaClassificationByIDResponse">
    <wsdl:part name="return" type="tns:Classification" />
  </wsdl:message>
  <wsdl:message name="getSourcesByAphiaIDRequest">
    <wsdl:part name="AphiaID" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getSourcesByAphiaIDResponse">
    <wsdl:part name="return" type="tns:Sources" />
  </wsdl:message>
  <wsdl:message name="getAphiaSynonymsByIDRequest">
    <wsdl:part name="AphiaID" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaSynonymsByIDResponse">
    <wsdl:part name="return" type="tns:AphiaRecords" />
  </wsdl:message>
  <wsdl:message name="getAphiaVernacularsByIDRequest">
    <wsdl:part name="AphiaID" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaVernacularsByIDResponse">
    <wsdl:part name="return" type="tns:Vernaculars" />
  </wsdl:message>
  <wsdl:message name="getAphiaChildrenByIDRequest">
    <wsdl:part name="AphiaID" type="xsd:int" />
    <wsdl:part name="offset" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getAphiaChildrenByIDResponse">
    <wsdl:part name="return" type="tns:AphiaRecords" />
  </wsdl:message>
  <wsdl:portType name="AphiaNameServicePortType">
    <wsdl:operation name="getAphiaID">
      <documentation>&lt;strong&gt;Get the (first) exact matching AphiaID for a given name.&lt;br/&gt;Parameters:
   &lt;ul&gt;
    &lt;li&gt;&lt;u&gt;marine_only&lt;/u&gt;: limit to marine taxa. Default=true.&lt;/li&gt;
   &lt;/ul&gt;
  &lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getAphiaIDRequest" />
      <wsdl:output message="tns:getAphiaIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecords">
      <documentation>&lt;strong&gt;Get one or more matching (max. 50) AphiaRecords for a given name.&lt;br/&gt;Parameters:
   &lt;ul&gt;
    &lt;li&gt;&lt;u&gt;like&lt;/u&gt;: add a '%'-sign added after the ScientificName (SQL LIKE function). Default=true.&lt;/li&gt;
	&lt;li&gt;&lt;u&gt;fuzzy&lt;/u&gt;: fuzzy matching. Default=true.&lt;/li&gt;
	&lt;li&gt;&lt;u&gt;marine_only&lt;/u&gt;: limit to marine taxa. Default=true.&lt;/li&gt;
	&lt;li&gt;&lt;u&gt;offset&lt;/u&gt;: starting recordnumber, when retrieving next chunck of (50) records. Default=1.&lt;/li&gt;
   &lt;/ul&gt;
  &lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getAphiaRecordsRequest" />
      <wsdl:output message="tns:getAphiaRecordsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaNameByID">
      <documentation>&lt;strong&gt;Get the correct name for a given AphiaID&lt;/strong&gt;.</documentation>
      <wsdl:input message="tns:getAphiaNameByIDRequest" />
      <wsdl:output message="tns:getAphiaNameByIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecordByID">
      <documentation>&lt;strong&gt;Get the complete Aphia Record for a given AphiaID.&lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getAphiaRecordByIDRequest" />
      <wsdl:output message="tns:getAphiaRecordByIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecordByTSN">
      <documentation>&lt;strong&gt;Get the Aphia Record for a given TSN (ITIS Taxonomic Serial Number).&lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getAphiaRecordByTSNRequest" />
      <wsdl:output message="tns:getAphiaRecordByTSNResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecordsByNames">
      <documentation>&lt;strong&gt;For each given scientific name, try to find one or more AphiaRecords.&lt;br/&gt;
  This allows you to match multiple names in one call. Limited to 500 names at once for performance reasons.
  &lt;br/&gt;Parameters:
   &lt;ul&gt;
    &lt;li&gt;&lt;u&gt;like&lt;/u&gt;: add a '%'-sign after the ScientificName (SQL LIKE function). Default=false.&lt;/li&gt;
	&lt;li&gt;&lt;u&gt;fuzzy&lt;/u&gt;: fuzzy matching. Default=true.&lt;/li&gt;
	&lt;li&gt;&lt;u&gt;marine_only&lt;/u&gt;: limit to marine taxa. Default=true.&lt;/li&gt;
   &lt;/ul&gt;&lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getAphiaRecordsByNamesRequest" />
      <wsdl:output message="tns:getAphiaRecordsByNamesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecordsByVernacular">
      <documentation>&lt;strong&gt;Get one or more Aphia Records (max. 50) for a given vernacular.&lt;/strong&gt;&lt;br/&gt;Parameters:
   &lt;ul&gt;
    &lt;li&gt;&lt;u&gt;like&lt;/u&gt;: add a '%'-sign before and after the input (SQL LIKE '%vernacular%' function). Default=false.&lt;/li&gt;
	&lt;li&gt;&lt;u&gt;offset&lt;/u&gt;: starting record number, when retrieving next chunck of (50) records. Default=1.&lt;/li&gt;
   &lt;/ul&gt;
  &lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getAphiaRecordsByVernacularRequest" />
      <wsdl:output message="tns:getAphiaRecordsByVernacularResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaClassificationByID">
      <documentation>&lt;strong&gt;Get the complete classification for one taxon. This also includes any sub or super ranks.&lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getAphiaClassificationByIDRequest" />
      <wsdl:output message="tns:getAphiaClassificationByIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSourcesByAphiaID">
      <documentation>&lt;strong&gt;Get one or more sources/references including links, for one AphiaID&lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getSourcesByAphiaIDRequest" />
      <wsdl:output message="tns:getSourcesByAphiaIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaSynonymsByID">
      <documentation>&lt;strong&gt;Get all synonyms for a given AphiaID.&lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getAphiaSynonymsByIDRequest" />
      <wsdl:output message="tns:getAphiaSynonymsByIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaVernacularsByID">
      <documentation>&lt;strong&gt;Get all vernaculars for a given AphiaID.&lt;/strong&gt;</documentation>
      <wsdl:input message="tns:getAphiaVernacularsByIDRequest" />
      <wsdl:output message="tns:getAphiaVernacularsByIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAphiaChildrenByID">
      <documentation>&lt;strong&gt;Get the direct children (max. 50) for a given AphiaID.&lt;/strong&gt;&lt;br /&gt;Parameters:
   &lt;ul&gt;
	&lt;li&gt;&lt;u&gt;offset&lt;/u&gt;: starting record number, when retrieving next chunck of (50) records. Default=1.&lt;/li&gt;
   &lt;/ul&gt;</documentation>
      <wsdl:input message="tns:getAphiaChildrenByIDRequest" />
      <wsdl:output message="tns:getAphiaChildrenByIDResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AphiaNameServiceBinding" type="tns:AphiaNameServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getAphiaID">
      <soap:operation soapAction="getAphiaID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaID" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaID" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecords">
      <soap:operation soapAction="getAphiaRecords" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecords" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecords" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaNameByID">
      <soap:operation soapAction="getAphiaNameByID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaName" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaName" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecordByID">
      <soap:operation soapAction="getAphiaRecordByID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecord" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecord" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecordByTSN">
      <soap:operation soapAction="getAphiaRecordByTSN" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecord" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecord" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecordsByNames">
      <soap:operation soapAction="getAphiaRecordsByNames" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaMatches" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaMatches" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaRecordsByVernacular">
      <soap:operation soapAction="getAphiaRecordsByVernacular" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecords" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecords" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaClassificationByID">
      <soap:operation soapAction="getAphiaClassificationByID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/Classification" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/Classification" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSourcesByAphiaID">
      <soap:operation soapAction="getSourcesByAphiaID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/Sources" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/Sources" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaSynonymsByID">
      <soap:operation soapAction="getAphiaSynonymsByID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecords" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecords" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaVernacularsByID">
      <soap:operation soapAction="getAphiaVernacularsByID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaVernaculars" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaVernaculars" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAphiaChildrenByID">
      <soap:operation soapAction="getAphiaChildrenByID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecords" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://aphia/v1.0/AphiaRecords" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AphiaNameService">
    <wsdl:port name="AphiaNameServicePort" binding="tns:AphiaNameServiceBinding">
      <soap:address location="http://www.marinespecies.org/aphia.php?p=soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>